@media (max-width: 64em) {
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 48.125em) {
    html {
      font-size: 40%;
    }
  }
  
  @media (max-width: 38.5em) {
    html {
      font-size: 35%;
    }
  }
  
  @media (max-width: 33.75em) {
    html {
      font-size: 30%;
    }
  }